
.card {
  height: 400px;
  width: 300px;
  padding: 16px;
  margin: 10px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
}

.title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 300;
  color: #333;
}

.description {
  font-size: 14px;
  font-weight: 300;
  color: #444;
  margin-bottom: 12px;
}

.date {
  font-size: 14px;
  color: #777;
  align-self: flex-end;
}

.deleteButton {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #e53935;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(229, 57, 53, 0.3);
  transition: all 0.25s ease-in-out;
  margin-left: 10px;
  align-self: flex-end;
}

.deleteButton:hover {
  background-color: #c62828;
  box-shadow: 0 6px 16px rgba(198, 40, 40, 0.4);
  transform: scale(1.05);
}
